[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
matplotlib = "*"
ydata-profiling = "*"
scikit-learn = "*"
mlflow = "*"
prefect = {extras = ["server"] }
prefect-dask = "*"
bokeh = "!=3.0.*,>=2.4.2"
numpy = "*"
joblib = "*"
google-cloud-storage = "*"
pyyaml = "*"
evidently = "==0.2.8"
xgboost = "*"
fastapi = "*"
uvicorn = "*"
streamlit = "*"
folium = "*"
streamlit-folium = "*"
prophet = "*"
catboost = "*"
geopy = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
